<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LHCb</key>
	<array>
		<dict>
			<key>Category name</key>
			<string>News</string>
			<key>Feeds</key>
			<array/>
			<key>Tweets</key>
			<array>
				<string>https://twitter.com/statuses/user_timeline/92522167.rss</string>
			</array>
		</dict>
		<dict>
			<key>Category name</key>
			<string>Event display</string>
			<key>Images</key>
			<array>
				<string>http://lbcomet.cern.ch/Online/Images/evdisp.jpg</string>
			</array>
		</dict>
		<dict>
			<key>Category name</key>
			<string>DAQ</string>
		</dict>
	</array>
	<key>ALICE</key>
	<array>
		<dict>
			<key>Category name</key>
			<string>News</string>
			<key>Feeds</key>
			<dict>
				<key>ALICE news</key>
				<string>http://alicematters.web.cern.ch/rss.xml</string>
			</dict>
			<key>Tweets</key>
			<dict/>
		</dict>
		<dict>
			<key>Category name</key>
			<string>Event display</string>
			<key>Images</key>
			<array/>
		</dict>
		<dict>
			<key>Category name</key>
			<string>DAQ</string>
		</dict>
	</array>
	<key>LHC</key>
	<array>
		<dict>
			<key>Category name</key>
			<string>News</string>
			<key>Feeds</key>
			<array>
				<string>http://cms.web.cern.ch/news/category/265/rss.xml</string>
			</array>
			<key>Tweets</key>
			<array/>
		</dict>
		<dict>
			<key>Category name</key>
			<string>Event display</string>
			<key>Images</key>
			<array>
				<string>http://vistar-capture.web.cern.ch/vistar-capture/lhc1.png</string>
				<string>http://vistar-capture.web.cern.ch/vistar-capture/lhc3.png</string>
				<string>http://vistar-capture.web.cern.ch/vistar-capture/lhccoord.png</string>
			</array>
		</dict>
		<dict>
			<key>Category name</key>
			<string>DAQ</string>
		</dict>
	</array>
	<key>ATLAS</key>
	<array>
		<dict>
			<key>Category name</key>
			<string>News</string>
			<key>Feeds</key>
			<dict>
				<key>ATLAS News</key>
				<string>http://pdg2.lbl.gov/atlasblog/?feed=rss2</string>
			</dict>
			<key>Tweets</key>
			<array/>
		</dict>
		<dict>
			<key>Category name</key>
			<string>Event display</string>
			<key>Images</key>
			<array>
				<string>http://atlas-live.cern.ch/live.png</string>
			</array>
		</dict>
		<dict>
			<key>Category name</key>
			<string>DAQ</string>
		</dict>
	</array>
	<key>CMS</key>
	<array>
		<dict>
			<key>Category name</key>
			<string>News</string>
			<key>Feeds</key>
			<dict>
				<key>CMS News</key>
				<string>http://cms.web.cern.ch/news/category/265/rss.xml</string>
			</dict>
			<key>Tweets</key>
			<array/>
		</dict>
		<dict>
			<key>Category name</key>
			<string>Event display</string>
			<key>Images</key>
			<array>
				<dict>
					<key>Name</key>
					<string>3D Tower</string>
					<key>Image</key>
					<string>http://cmsonline.cern.ch/evtdisp/3DTower.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>3D RecHit</string>
					<key>Image</key>
					<string>http://cmsonline.cern.ch/evtdisp/3DRecHit.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Lego</string>
					<key>Image</key>
					<string>http://cmsonline.cern.ch/evtdisp/Lego.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>RhoPhi</string>
					<key>Image</key>
					<string>http://cmsonline.cern.ch/evtdisp/RhoPhi.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>RhoZ</string>
					<key>Image</key>
					<string>http://cmsonline.cern.ch/evtdisp/RhoZ.png</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Category name</key>
			<string>DAQ</string>
		</dict>
	</array>
</dict>
</plist>
