<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Menu Contents</key>
	<array>
		<dict>
			<key>Expanded</key>
			<integer>1</integer>
			<key>Image name</key>
			<string>news_color.png</string>
			<key>Feeds</key>
			<array>
				<dict>
					<key>Image</key>
					<string>180-stickynote@2x.png</string>
					<key>Url</key>
					<string>http://home.web.cern.ch/about/updates/feed</string>
					<key>Name</key>
					<string>General</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>140-gradhat.png</string>
					<key>Url</key>
					<string>http://home.web.cern.ch/students-educators/updates/feed</string>
					<key>Name</key>
					<string>For students</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>163-glasses-1.png</string>
					<key>Url</key>
					<string>http://home.web.cern.ch/scientists/updates/feed</string>
					<key>Name</key>
					<string>For scientists</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>112-group@2x.png</string>
					<key>Url</key>
					<string>http://home.web.cern.ch/cern-people/updates/feed</string>
					<key>Name</key>
					<string>For staff</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>18-puzzle@2x.png</string>
					<key>Url</key>
					<string>http://home.web.cern.ch/cern-people/opinion/feed</string>
					<key>Name</key>
					<string>Opinion pieces</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>124-bullhorn@2x.png</string>
					<key>Url</key>
					<string>http://home.web.cern.ch/cern-people/official-communications/feed</string>
					<key>Name</key>
					<string>Official communications</string>
				</dict>
				<dict>
					<key>Url</key>
					<string>http://cdsweb.cern.ch/rss?p=980__a%3ABULLETINNEWS%20or%20980__a%3ABULLETINNEWSDRAFT&amp;ln=en</string>
					<key>Name</key>
					<string>Bulletin</string>
					<key>Category name</key>
					<string>Bulletin</string>
					<key>Image</key>
					<string>bulletin.png</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>389-flash@2x.png</string>
					<key>Url</key>
					<string>http://feeds.feedburner.com/CernCourier</string>
					<key>Name</key>
					<string>CERN Courier</string>
				</dict>
			</array>
			<key>Name</key>
			<string>News</string>
			<key>Category name</key>
			<string>News</string>
		</dict>
		<dict>
			<key>Expanded</key>
			<integer>0</integer>
			<key>Image name</key>
			<string>about_color.png</string>
			<key>Category name</key>
			<string>StaticInfo</string>
		</dict>
		<dict>
			<key>Expanded</key>
			<integer>1</integer>
			<key>Image name</key>
			<string>live_color.png</string>
			<key>Category name</key>
			<string>LIVE</string>
		</dict>
		<dict>
			<key>Image name</key>
			<string>photos_videos.png</string>
			<key>Expanded</key>
			<integer>0</integer>
			<key>Items</key>
			<array>
				<dict>
					<key>Url</key>
					<string>http://cdsweb.cern.ch/search?ln=en&amp;cc=Photos&amp;p=&amp;f=&amp;action_search=Search&amp;c=Photos&amp;c=&amp;sf=&amp;so=d&amp;rm=&amp;rg=10&amp;sc=1&amp;of=xm</string>
					<key>Category name</key>
					<string>PhotoSet</string>
					<key>Image name</key>
					<string>86-camera@2x.png</string>
					<key>Name</key>
					<string>Latest photos</string>
				</dict>
			</array>
			<key>Category name</key>
			<string>PhotosVideosSection</string>
			<key>Name</key>
			<string>Photos and videos</string>
		</dict>
		<dict>
			<key>Image name</key>
			<string>106-sliders@2x.png</string>
			<key>Feeds</key>
			<array>
				<dict>
					<key>Image</key>
					<string>158-wrench-2@2x.png</string>
					<key>Url</key>
					<string>https://ert.cern.ch/browse_www/wd_portal_rss.rss?p_hostname=ert.cern.ch</string>
					<key>Name</key>
					<string>Jobs</string>
				</dict>
			</array>
			<key>Expanded</key>
			<integer>0</integer>
			<key>Category name</key>
			<string>News</string>
			<key>Name</key>
			<string>More ...</string>
		</dict>
	</array>
</dict>
</plist>
