<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Menu Contents</key>
	<array>
		<dict>
			<key>Expanded</key>
			<integer>1</integer>
			<key>Image name</key>
			<string>news_color.png</string>
			<key>Feeds</key>
			<array>
				<dict>
					<key>Url</key>
					<string>http://home.web.cern.ch/about/updates/feed</string>
					<key>Name</key>
					<string>General</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>140-gradhat.png</string>
					<key>Url</key>
					<string>http://home.web.cern.ch/students-educators/updates/feed</string>
					<key>Name</key>
					<string>For students</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>163-glasses-1.png</string>
					<key>Url</key>
					<string>http://home.web.cern.ch/scientists/updates/feed</string>
					<key>Name</key>
					<string>For scientists</string>
				</dict>
				<dict>
					<key>Url</key>
					<string>http://home.web.cern.ch/cern-people/updates/feed</string>
					<key>Name</key>
					<string>For staff</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>18-puzzle@2x.png</string>
					<key>Url</key>
					<string>http://home.web.cern.ch/cern-people/opinion/feed</string>
					<key>Name</key>
					<string>Opinion pieces</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>124-bullhorn@2x.png</string>
					<key>Url</key>
					<string>http://home.web.cern.ch/cern-people/official-communications/feed</string>
					<key>Name</key>
					<string>Official communications</string>
				</dict>
				<dict>
					<key>Url</key>
					<string>http://feeds.feedburner.com/CernCourier</string>
					<key>Name</key>
					<string>CERN Courier</string>
				</dict>
			</array>
			<key>Name</key>
			<string>News</string>
			<key>Category name</key>
			<string>News</string>
		</dict>
		<dict>
			<key>Expanded</key>
			<integer>0</integer>
			<key>Image name</key>
			<string>about_color.png</string>
			<key>Category name</key>
			<string>StaticInfo</string>
		</dict>
		<dict>
			<key>Expanded</key>
			<integer>1</integer>
			<key>Image name</key>
			<string>live_color.png</string>
			<key>Experiments</key>
			<array>
				<string>CMS</string>
				<string>ATLAS</string>
				<string>ALICE</string>
				<string>LHCb</string>
				<string>LHC</string>
			</array>
			<key>Category name</key>
			<string>LIVE</string>
		</dict>
	</array>
</dict>
</plist>
